body {
    background: url('../img/ep_naturalblack.png') repeat;
}

.card {
    font-family: 'Asap', sans-serif;
    margin: 50px 0px 50px 0px;
    border: none;
    box-shadow: 0px 0px 8px 1px white;
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    padding-top: 15px;
    background: #d9fffd;
}

.card-body {
    background: #fff7ed;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#quiz {
    padding: 20px;
}

input {
    cursor: pointer;
}

#timer {
    width: 10%;
    margin: 50px 10px 0px 10px;
    text-align: center;
    font-size: 50px;
    border-radius: 5px;
    border: none;
}

#restart {
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    height: 75px;
    font-size: 26px;
}